<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/App_1/results/" method = "GET"> 
        
        <div class="form-floating mb-3">
            <input type="number" class="form-control" name = "product_code" id="product_code" placeholder="0000">
            <label for="floatingInput">Código del producto</label>
        </div>

        <input type="submit" value = "Buscar">
    </form>
</body>
</html>